{% extends "base.html" %}


{% block titulo %} LISTA DE EMPLEADOS {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_emp' %}" role="button">AGREGAR EMPLEADO</a>
    </div>
    
    <div class="card-body">
        <h4 class="card-title">EMPLEADOS</h4>
        <div class="table-responsive">
            <table
                class="table table-primary">
                <thead class="centered-header">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">TELEFONO</th>
                        <th scope="col">CORREO</th>
                        <th scope="col">DIRECCION</th>
                        <th scope="col">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    {% for empleado in empleados %}

                    <tr class="">
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.telefono }}</td>
                        <td>{{ empleado.correo }}</td>
                        <td>{{ empleado.direccion }}</td>
                        <td><a name="" id="" class="btn btn-info" href="{% url 'editar_empleado' empleado.id %}" role="button">Editar</a>
                        | <a name="" id="" class="btn btn-danger" href="{% url 'eliminar_empleado' empleado.id %}" role="button">Borrar</a></td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>

        
        
    </div>
    
</div>


{% endblock %}