{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title> {% block titulo %}  {% endblock %} </title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'JAVA/main.js' %}"></script>
    </head>

    {% if user.is_authenticated %}
    <nav class="menu-principal">
        <div class="nav-content">
            <span class="user-greeting">Bienvenido/a, {{ user.username }}!</span>
            <form method="post" action="{% url 'select_branch' %}"></form>
            <!-- <a class="nav-item nav-link active" href="{% url 'inicio' %}" aria-current="page">INICIO</a>
            <a class="nav-item nav-link active" href="{% url 'marcas' %}" aria-current="page">MARCAS</a>
            <a class="nav-item nav-link active" href="{% url 'edades' %}" aria-current="page">EDADES</a>
            <a class="nav-item nav-link active" href="{% url 'empleados' %}" aria-current="page">EMPLEADOS</a>
            <a class="nav-item nav-link active" href="{% url 'clientes' %}" aria-current="page">CLIENTES</a>
            <a class="nav-item nav-link active" href="{% url 'sucursales' %}" aria-current="page">SUCURSALES</a>
            <a class="nav-item nav-link active" href="{% url 'categorias' %}" aria-current="page">CATEGORIAS</a>
            <a class="nav-item nav-link active" href="{% url 'productos' %}" aria-current="page">PRODUCTOS</a>
            <a class="nav-item nav-link active" href="{% url 'cajas' %}" aria-current="page">CAJAS</a> -->
            
            <form method="post" action="{% url 'select_branch' %}">
                {% csrf_token %}
                <select name="branch" onchange="this.form.submit()">
                    <option value="">Seleccionar sucursal</option>
                    {% for branch in branches %}
                        <option value="{{ branch.id }}" {% if selected_branch == branch.id %}selected{% endif %}>
                            {{ branch.direccion }}
                        </option>
                    {% endfor %}
                </select>
            </form>
            
            <a name="" id="" class="btn btn-success" href="{% url 'inicio' %}" role="button">Inicio</a>
                
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Salir</button>
            </form>
        </div>
    </nav>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                {% block contenido %} {% endblock %}
                </div>
            </div>
        </div>




        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
