{% extends "base.html" %}
{% load static %}

{% block titulo %} MENU {% endblock %}

{% block contenido %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <button id="openModalBtn" class="btn btn-primary btn-block">Apertura de Caja</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'productos_baja_existencia' %}" class="btn btn-success btn-block">Stock</a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'listado_ventas' %}" class="btn btn-info btn-block">Listado de Ventas</a>
        </div>
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <span id="closeModalBtn" class="close">&times;</span>
        <h2>Apertura de Caja</h2>
        <form id="aperturaCajaForm" method="POST" action="{% url 'apertura_caja' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="montoInicial">Monto Inicial:</label>
                <input type="number" id="montoInicial" name="monto_inicial" step="0.01" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
    </div>
</div>
{% endblock %}