{% extends "base.html" %}

{% block titulo %} AGREGAR NUEVO PRODUCTO {% endblock %}

{% block contenido %}
<div class="card">
  <div class="card-header">
    <h1>CREAR UN PRODUCTO</h1>
  </div>
  <div class="card-body">
    <h4 class="card-title">Datos del producto</h4>
    <form enctype="multipart/form-data" method="post" class="styled-form">
      {% csrf_token %}
      {% for campo in formulario %}
      <div class="form-group-custom">
          <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
          {% if campo.field.widget.input_type == "select" %}
              <select name="{{ campo.name }}" id="{{ campo.id_for_label }}" class="form-control" {% if campo.field.required %}required{% endif %}>
                  <option value="" {% if not campo.value %}selected{% endif %} disabled>Selecciona una opción</option>
                  {% for opcion in campo.field.choices %}
                      <option value="{{ opcion.0 }}" {% if campo.value == opcion.0 %}selected{% endif %}>{{ opcion.1 }}</option>
                  {% endfor %}
              </select>
          {% elif campo.field.widget.input_type == "text" %}
              <input type="text" class="form-control" name="{{ campo.name }}" id="{{ campo.id_for_label }}"
                  aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value|default:'' }}" />
          {% elif campo.field.widget.input_type == "number" %}
              <input type="number" class="form-control" name="{{ campo.name }}" id="{{ campo.id_for_label }}"
                  aria-describedby="helpId" placeholder="{{ campo.label }}" value="{{ campo.value|default:'' }}" step="any" />
          {% elif campo.field.widget.input_type == "textarea" %}
              <textarea class="form-control" name="{{ campo.name }}" id="{{ campo.id_for_label }}"
                  aria-describedby="helpId" placeholder="{{ campo.label }}">{{ campo.value|default:'' }}</textarea>
          {% else %}
              {{ campo }}
          {% endif %}
          <div class="col-12 help-text">{{ campo.errors }}</div>
      </div>
      {% endfor %}
      <div class="btn-submit-container">
        <button type="submit" class="c-button btn-submit">
            <span class="c-main">
                <span class="c-ico"><span class="c-blur"></span> <span class="ico-text">✓</span></span>
                Guardar
            </span>
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}